<!-- Create Datacenter -->
<div class="modal fade" id="Modal-CreateDatacenter" tabindex="-1" role="dialog" aria-labelledby="CreateDatacenterLabel" aria-hidden="true">
  <div class="modal-dialog modalwide">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="CreateDatacenterLabel">Create Datacenter</h4>
	  </div>
	  <form action='{% url "locations_datacenter_create" %}' method="POST">
	  	  {% csrf_token %}
          <input type="hidden" name="CreateDatacenter" value="1">
		  <div class="modal-body">
            {{ form.as_p }}
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<!-- Submit Button-->
			<button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Create Datacenter</button>
		  </div>
	  </form>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->