{% extends "PodArcbase.html" %}

{% block local_javascript %}
{% endblock %}

{% block content %}

Nav: <a href="{% url "locations_datacenter_view_by_id" this_cagerow.cage.datacenter.id %}">{{ this_cagerow.cage.datacenter.name }}</a> --> <a href="{% url "locations_cage_view_by_id" this_cagerow.cage.id %}">{{ this_cagerow.cage.name }}</a> --> {{ this_cagerow.name }}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">
            Cage Row{{ this_cagerow }} (id {{ this_cagerow.id }})
        </h1>
    </div>
    <div class="panel-body">
        <p>todo: make this a form / editable.</p>
        <p>name: {{ this_cagerow.name }}</p>
        <p>description: {{ this_cagerow.description }}</p>
        <p>status: {{ this_cagerow.status }} (1 is active, 0 is disabled)</p>
    </div>
    <div class="panel-footer">
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">
            Racks inside cagerow {{ this_cagerow }} (id {{ this_cagerow.id }})
        </h1>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-condensed table-responsive">
            <p>todo: make these drilldown links</p>
            {% for row in rack_list %}
            <tr>
                <td><a href="{% url "locations_rack_view_by_id" row.id %}">{{ row.name }}</a></td>
                <td>{{ row.description }}</td>
                <td>{{ row.status }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="panel-footer">
    </div>
</div>

<!-- MODALS -->
{% endblock %}