{% extends "PodArcbase.html" %}

{% block local_javascript %}
{% endblock %}

{% block content %}

Nav: <a href="{% url "locations_datacenter_view_by_id" this_cage.datacenter.id %}">{{ this_cage.datacenter.name }}</a> --> {{ this_cage.name }}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">
            Cage {{ this_cage }} (id {{ this_cage.id }})
        </h1>
    </div>
    <div class="panel-body">
        <p>todo: make this a form / editable.</p>
        <p>name: {{ this_cage.name }}</p>
        <p>description: {{ this_cage.description }}</p>
        <p>status: {{ this_cage.status }} (1 is active, 0 is disabled)</p>
    </div>
    <div class="panel-footer">
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">
            Rows inside cage {{ this_cage }} (id {{ this_cage.id }})
        </h1>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-condensed table-responsive">
            <p>todo: make these drilldown links</p>
            {% for row in cagerow_list %}
            <tr>
                <td><a href="{% url "locations_cagerow_view_by_id" row.id %}">{{ row.name }}</a></td>
                <td>{{ row.description }}</td>
                <td>{{ row.status }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="panel-footer">
    </div>
</div>

<!-- MODALS -->
{% endblock %}