{% extends "PodArcbase.html" %}

{% block local_javascript %}
<script language="Javascript">
    function updateDeleteIdValue(deleteId){
        document.getElementById("input_delete_id").value = deleteId;
        document.getElementById("form_delete").submit();
    }
</script>
{% endblock %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">
            Datacenters
            <span class="pull-right"><a href="" class="btn btn-success btn-xs" role="button" type="button" title='New Datacenter' data-toggle="modal" data-target="#Modal-CreateDatacenter""><span class='glyphicon glyphicon-plus'></span> Create New</a></span>
        </h1>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                	<th>Name</th>
                	<th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in datacenters %}
                    <tr>
                    	<td><a href='{% url "locations_datacenter_view_by_id" row.id %}' >{{ row.name }}</a></td>
                    	<td><a href='{% url "locations_datacenter_view_by_id" row.id %}' >{{ row.description }}</a></td>
                        <td><button class="btn btn-danger btn-xs" onclick="updateDeleteIdValue( {{ row.id }} )">Delete</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        Rows: {{ datacenters.count }}<span class="pull-right"><a href="" class="btn btn-success btn-xs" role="button" type="button" title='New Datacenter' data-toggle="modal" data-target="#Modal-CreateDatacenter""><span class='glyphicon glyphicon-plus'></span> Create New</a></span>
    </div>
</div>

<!-- Hidden Delete Form -->
<div class="hidden">
    <form id="form_delete" action="{% url 'locations_datacenter_create' %}" method="post">
        {% csrf_token %}
        <input id="input_delete_id" name="input_delete_id" type="hidden" value="0">
    </form>
</div>

<!-- MODALS -->
{% include "locations_modal_datacenter_create.html" %}




{% endblock %}